body {
 margin: 0; /* Remove margens padrão */
 padding: 0; /* Remove espaçamento interno padrão */
 background: linear-gradient(135deg, #000000 0%, #ff0000 100%);
 min-height: 100vh; /* Altura mínima da tela inteira */
 border: none; /* Remove bordas */
 background-attachment: fixed; /* Fundo fixo ao rolar */
}
p {
  color:rgb(248, 11, 11);
}
h1 {
  color:rgb(248, 11, 11);
}
header {
  color:rgb(248, 11, 11);
}
a {
  color:rgb(248, 11, 11);
}
ul {
  color:rgb(248, 11, 11);
}
